<div class="comentario-container">
    <!-- Mensagem de agradecimento -->
    <div class="mensagem-agradecimento">
      <h1>Obrigado pela sua avaliação!</h1>
      <p>Sua opinião é muito importante para nós.</p>
    </div>

    <button mat-raised-button class="custom-button" (click)="voltar()">Voltar para inicio</button>
  
    <!-- Listagem de comentários -->
    <div class="comentarios-lista">
      <div *ngFor="let avaliacao of avaliacoes" class="comentario-card">
        <h2 class="comentario-nome">{{ avaliacao.nome }}</h2>
        <p class="comentario-media">
          {{ avaliacao.mediaEstrelas.toFixed(1) }}
          <ngx-stars
            [maxStars]="5"
            [initialStars]="avaliacao.mediaEstrelas"
            [readonly]="true"
            [customSize]="'20px'"
          ></ngx-stars>
        </p>
  
        <!-- Comentário -->
        <p *ngIf="avaliacao.comentario" class="comentario-resumo">
          <strong>Comentário:</strong> {{ avaliacao.comentario }}
        </p>
  
        <!-- Botão para expandir -->
        <button mat-button class="expand-button" (click)="toggleExpand(avaliacao)">
          {{ avaliacao.expanded ? 'Recolher' : 'Ver Detalhes' }}
        </button>
  
        <!-- Detalhes Expansíveis -->
        <div *ngIf="avaliacao.expanded" class="comentario-detalhes">
          <!-- Cabeçalho da Lista -->
          <div class="lista-cabecalho">
            <div class="descricao-header">Itens</div>
          </div>
  
          <!-- Lista de Itens Avaliados -->
          <div *ngFor="let item of avaliacao.detalhes" class="item-avaliacao">
            <div class="descricao">
              <span>{{ item.nome }}</span>
              <mat-divider></mat-divider>
            </div>
            <ngx-stars
              [maxStars]="5"
              [initialStars]="item.estrelas"
              [readonly]="true"
              [customSize]="'20px'"
              [color]="'crimson'"
              [animationSpeed]="150"
              [animation]="false"
              [customPadding]="'8px'"
            ></ngx-stars>
          </div>
        </div>
      </div>
    </div>
  </div>
  