<div class="fuxico-container">
    <!-- Nome/Logo do Sistema -->
    <div class="logo">
      <h1>FUXICO</h1>
    </div>
  
    <!-- Categorias e Subcategorias -->
    <mat-accordion class="menu">
      <!-- Categoria 1 -->
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="categoria-header">
          <mat-panel-title>Categoria 1</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="subcategoria-list">
          <button class="subcategoria-button" mat-button routerLink="/avaliacao" >
            Subcategoria 1
          </button>
          <button class="subcategoria-button" mat-button routerLink="/avaliacao" >
            Subcategoria 2
          </button>
        </div>
      </mat-expansion-panel>
  
      <!-- Categoria 2 -->
      <mat-expansion-panel>
        <mat-expansion-panel-header class="categoria-header">
          <mat-panel-title>Categoria 2</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="subcategoria-list">
          <button class="subcategoria-button" mat-button routerLink="/avaliacao">
            Subcategoria 1
          </button>
          <button class="subcategoria-button" mat-button routerLink="/avaliacao" >
            Subcategoria 2
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  