<mat-toolbar color="primary" class="toolbar-container">
  <button mat-icon-button class="back-button" (click)="voltar()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="toolbar-title">Título da Página</span>
</mat-toolbar>

<div class="container">
  <h1 class="titulo">Manutenção de salas de aula</h1>
  
  <h6 class="titulo-secao">Como foi sua experiencia hoje?</h6>
  
  <!-- Botão de upload de imagem -->
  <!-- <button class="custom-button" mat-raised-button (click)="uploadImage()">Upload de Imagem</button> -->
  
  <input type="file" id="upload" style="display: none;" (change)="onImageUpload($event)"/>

  <!-- Textarea para comentário -->
  <mat-form-field class="full-width">
    <textarea
      matInput
      placeholder="Deixe sua opinião"
      [(ngModel)]="comentario"
      rows="4"
    ></textarea>
  </mat-form-field>

  <!-- Cabeçalho da Lista -->
  <div class="lista-cabecalho">
    <div class="descricao-header">Itens</div>
    <!-- <div class="estrelas-header">😡 😟 😐 🙂 😍</div> -->
  </div>
  <!-- Lista de itens para avaliação -->
  <div *ngFor="let item of itens; let i = index" class="item-avaliacao">
    <div class="descricao">
      <span>{{ item.nome }}</span>   
      <mat-divider></mat-divider> 
    </div>
    <ngx-stars
      [maxStars]="5"
      [initialStars]="item.estrelas"
      [customSize]="'20px'"
      [color]="'crimson'"
      [animationSpeed]="150"
      [animation]="false"
      [customPadding]="'8px'"
      [wholeStars]="true"
      (ratingOutput)="onRate(i, $event)"
    ></ngx-stars>
  </div>

  <button class="custom-button" mat-raised-button (click)="enviarAvaliacao()">
    Enviar Avaliação
  </button>
  
  <!-- Exibe as avaliações -->
  
  <!-- Botão para enviar -->
  <!-- <button class="custom-button" mat-raised-button (click)="submitReview()">Enviar Avaliação</button> -->
</div>
